@import "./shortStyles.scss";

.main {
  @include flex(center, center);
  width: 100%;
  flex-direction: column;
  gap: 100px;

  @include screen-mb {
    gap: 50px;
  }
}

.hero-section {
  @include flex(center, center);
  @include f-direction(row);
  padding-top: 100px;
  width: 100%;
  height: 720px;

  @include screen-mb {
    padding-top: 85px;
    height: fit-content;
    @include f-direction(column-reverse);
    gap: 30px;
  }

  .info {
    @include flex(flex-start, flex-start);
    flex-direction: column;
    gap: 30px;
    max-width: 760px;
    width: 100%;

    .main-title {
      @include font(56px, 125%, 400);
      text-align: left;
      color: $gray0;

      @include screen-mb {
        @include font(32px, 125%, 400);
      }
    }

    .description {
      @include font(16px, 150%, 400);
      font-family: $fontSecondary;
      text-align: left;
      color: $gray150;
      width: 90%;

      @include screen-mb {
        width: 100%;
      }
    }
  }

  .img-box {
    width: 100%;
    max-width: 600px;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      filter: drop-shadow(-54px 85px 100px rgba(0, 117, 255, 0.2));
    }
  }
}

.about-us {
  @include flex(center, center);
  @include f-direction(column);
  width: 100%;
  gap: 55px;
  overflow: visible;

  @include screen-mb {
    gap: 30px;
  }

  .info {
    @include flex(flex-start, flex-start);
    flex-direction: column;
    gap: 20px;
    width: 100%;

    .title {
      font-family: $fontSecondary;
      @include font(18px, 120%, 500);
    }

    .description {
      font-family: $fontSecondary;
      color: $gray0;
      @include font(32px, 120%, 600);

      @include screen-mb {
        @include font(24px, 120%, 600);
      }
    }
  }

  .floating-box {
    @include flex(center, center);
    width: 100%;
    position: relative;

    .img-box {
    }
  }
}

.cta-section {
  @include flex(center, center);
  width: 100%;

  background-image: url("/img/cta-section-bg-01.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  margin: 0;
  padding: 0;
  height: 470px;

  @include screen-mb {
    height: 450px;
    background-image: url("/img/cta-section-bg-01-sm.webp");
  }

  .container {
    @include flex(center, center);
    @include f-direction(column);
    gap: 45px;

    @include screen-mb {
      gap: 35px;
    }
  }

  .info {
    @include flex(center, center);
    @include f-direction(column);
    width: 100%;
    max-width: 1000px;
    gap: 15px;

    @include screen-mb {
      gap: 10px;
    }

    .title {
      @include font(42px, 125%, 400);
      text-align: center;
      color: $gray0;

      @include screen-mb {
        @include font(28px, 125%, 400);
        text-align: left;
      }
    }

    .description {
      @include font(16px, 150%, 400);
      font-family: $fontSecondary;
      text-align: center;
      color: $gray0;

      max-width: 750px;

      @include screen-mb {
        text-align: left;
      }
    }
  }
}
